{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://test-vault.vault.azure.net/keys/otherkey2?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://test-vault.vault.azure.net/keys/otherkey2?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://test-vault.vault.azure.net/keys/otherkey2/47041a5e3b994e4b9db708d6352408d0\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"1_6ZtP288hEkKML-L6nFyZh1PD1rmAgwbbwjEvTSDK_008BYWhjp_6ULy9BhWtRIytNkPkm9gzaBTrCpp-vyDXPGa836Htp-w8u5JmxoUZchJh576m3m-8ZYWTmZSAp5SpruyKAmLSxPJHEWPXQntnmuTMjb9HBT9Ltrwc0ZDk-jsMLYunDJrNmrRUxQgb0zQ_Tl5fJjj8j-0KVx2RXtbfWFvf5fRdBYyP3m0aUpoopQPwtXszD2LcSKMJ_TnmnvMWr8MOA5aRlBaGdBk7zBgRafvDPam3Q2AvFA9mfcAVncpfZ3JFm73VARw6MofXtRqOHtZ7y4oNbY95xXwU2r6w\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"created\":1528498195,\"updated\":1528498195,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://test-vault.vault.azure.net/keys/otherkey2//verify?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":true}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://test-vault.vault.azure.net/keys/otherkey2//sign?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"kid\":\"https://test-vault.vault.azure.net/keys/otherkey2/47041a5e3b994e4b9db708d6352408d0\",\"value\":\"Gf3Nw4iUaJI3Ob0M3x4WcQJl5K8JbRyGsU6ucPESEYB5aMSKeysMriinXCVZZnm6FMYh39BKqCrlhsv7mvMmwqRFVbGkfjiargwuB1ZS2j1xQOn0CCpIJ4WBpZVWjk8oALp_UuanmdmP6J1hoWa0CNeExMMU_5dDUYTafPM9ttHDmuEZ35cUucS5BxjKCqGI_j0wMbc2FjkpAg1NDuOHyos9fTbbMSF0ts0wp7FTSBoYE39-wj7PMTmA3YWodqH-ZCK8vpfbSQ0_zNvbF7nDxxvZ8HUj1oyrmg9DTwNBWKSb1bIkHjgYjW2ThN2VLVJaNel9J_1MukzeQT1NDyFbyA\"}"
    }
  } ],
  "variables" : [ ]
}