{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://test-vault.vault.azure.net/keys/otherkey2?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://test-vault.vault.azure.net/keys/otherkey2?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://test-vault.vault.azure.net/keys/otherkey2/a046f43b2e4e4e10b6c3b2de746a9ed7\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"1_6ZtP288hEkKML-L6nFyZh1PD1rmAgwbbwjEvTSDK_008BYWhjp_6ULy9BhWtRIytNkPkm9gzaBTrCpp-vyDXPGa836Htp-w8u5JmxoUZchJh576m3m-8ZYWTmZSAp5SpruyKAmLSxPJHEWPXQntnmuTMjb9HBT9Ltrwc0ZDk-jsMLYunDJrNmrRUxQgb0zQ_Tl5fJjj8j-0KVx2RXtbfWFvf5fRdBYyP3m0aUpoopQPwtXszD2LcSKMJ_TnmnvMWr8MOA5aRlBaGdBk7zBgRafvDPam3Q2AvFA9mfcAVncpfZ3JFm73VARw6MofXtRqOHtZ7y4oNbY95xXwU2r6w\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"created\":1528498185,\"updated\":1528498185,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://test-vault.vault.azure.net/keys/otherkey2//verify?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":true}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://test-vault.vault.azure.net/keys/otherkey2//sign?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"kid\":\"https://test-vault.vault.azure.net/keys/otherkey2/a046f43b2e4e4e10b6c3b2de746a9ed7\",\"value\":\"QsN05RCM9lADsZalIFlxeRBDr2zEQdlrdkjsqWr3t5wYt3R_X6driSEw-PRMw2JypZvB5I-OfPG716DSz-gZaYVIsNMLQdYj8pzhGly8meUClwRWWhZ_6GjSv0lkHTUEdsYTzDVYPz7F0Ykwxl8lBhaAM7GIcTzs4qyYDsGViMQzUjrwS9zDh-m7qgBvGGANul2Z5USc18aBRcLXEOmW7PADrnr3uxi0KNOhQeHHgtguuGyEMwF83fyD6jIf2NfYF75LOkeaSwAWfRhYJ_seX5gN_HI19wkRGF-2vPRu5z_IpCBtp7_Wk3f4zmURnotD5xpruZntbcitbZqXH0N1Yg\"}"
    }
  } ],
  "variables" : [ ]
}