{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://test-vault.vault.azure.net/keys/otherkey2?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://test-vault.vault.azure.net/keys/otherkey2?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://test-vault.vault.azure.net/keys/otherkey2/dc826d7462dd4e38bf0f207c3bf053ab\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"1_6ZtP288hEkKML-L6nFyZh1PD1rmAgwbbwjEvTSDK_008BYWhjp_6ULy9BhWtRIytNkPkm9gzaBTrCpp-vyDXPGa836Htp-w8u5JmxoUZchJh576m3m-8ZYWTmZSAp5SpruyKAmLSxPJHEWPXQntnmuTMjb9HBT9Ltrwc0ZDk-jsMLYunDJrNmrRUxQgb0zQ_Tl5fJjj8j-0KVx2RXtbfWFvf5fRdBYyP3m0aUpoopQPwtXszD2LcSKMJ_TnmnvMWr8MOA5aRlBaGdBk7zBgRafvDPam3Q2AvFA9mfcAVncpfZ3JFm73VARw6MofXtRqOHtZ7y4oNbY95xXwU2r6w\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"created\":1528498179,\"updated\":1528498179,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://test-vault.vault.azure.net/keys/otherkey2//verify?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":true}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://test-vault.vault.azure.net/keys/otherkey2//sign?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"kid\":\"https://test-vault.vault.azure.net/keys/otherkey2/dc826d7462dd4e38bf0f207c3bf053ab\",\"value\":\"oAnlOVb7hcetFCBhs5hyGc07zhmTMmyE6cv5m0MoU7tMl8eswnys6PVB2JvcQb1FSqrl9puQTFe3OkTF8gjA5yZFOMrFfhf0ASnlXceEW7ZbPi4-QRjD357uW-yZ0o7C7mrLUgVPCV79szJslVh1sVV7ivjxFZPD8LKld_QDv1OAubUEpOr_G1YAxSTlgB8QVdkliikECfb_XZDqblGdtlIHjN-hTfb7No6HnmKLEnjM7Fok5fN5Sjw4Ah2E-bkZstWYrExsRkadUniLAJhQeIZZkC8UtBOTBElgqhIJNK8aSejPn3tQ65rTlSCt9l_FeNTgjSEjWf2kKjGWYJSV9A\"}"
    }
  } ],
  "variables" : [ ]
}