{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/otherkey2?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/otherkey2?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://tifchen-keyvault-fancy.vault.azure.net/keys/otherkey2/336d87b9d80a47e18cc3c744c4d11896\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"1_6ZtP288hEkKML-L6nFyZh1PD1rmAgwbbwjEvTSDK_008BYWhjp_6ULy9BhWtRIytNkPkm9gzaBTrCpp-vyDXPGa836Htp-w8u5JmxoUZchJh576m3m-8ZYWTmZSAp5SpruyKAmLSxPJHEWPXQntnmuTMjb9HBT9Ltrwc0ZDk-jsMLYunDJrNmrRUxQgb0zQ_Tl5fJjj8j-0KVx2RXtbfWFvf5fRdBYyP3m0aUpoopQPwtXszD2LcSKMJ_TnmnvMWr8MOA5aRlBaGdBk7zBgRafvDPam3Q2AvFA9mfcAVncpfZ3JFm73VARw6MofXtRqOHtZ7y4oNbY95xXwU2r6w\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"created\":1528487944,\"updated\":1528487944,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/otherkey2//verify?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":true}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/otherkey2//sign?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"kid\":\"https://tifchen-keyvault-fancy.vault.azure.net/keys/otherkey2/336d87b9d80a47e18cc3c744c4d11896\",\"value\":\"istBdKDaP2b8Tm8EjGUMO3ZM2o1RUOskXs3gm2mM_e5LOEzMv2BnGtO8yMDCFFa9nyYbtahzWmOImZpWaRx9FaSOmLpy12OqcVVABgvXGuXnjqT0VK0l9s3wJv_Gk4giAZrzcqprZZPLdQOjeg-lunzAShsm7-TrdrQVsVUpqnOICbfPFSVZU1n3TWwpHG51hcLdowLL8bMo-6gyMAoZhO5QyhHxB4tgN72xHbkR1Cd02lAiBMU2B_vGLe_tkYjQY7b-krHPaa8yhLzrOWCGr1hxlq-u0BFTsuFI7Oitg_0-IqvvhW-qNDubjL2vXu1WoHqzSGLZm7myWWP-XXFjFQ\"}"
    }
  } ],
  "variables" : [ ]
}